@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color:#f8f1f1
}

input{
  border:none;
  width: 100%;
  border-radius: 10px;
}
input:focus{
  outline: none;
}
span{
  font-size: 15px;
  font-weight: 500;
}
h4{
  font-weight: 700 !important;
  font-size: 15px;
}
span{
  font-weight: 400;
  color: grey;
}
img{
  object-fit: cover;
  height: 90px;
  width:90px;
  border-radius: 3px;
}

h3{
  font-size: 12px !important;
  padding:3px 0px;
  font-weight: 700;
}
.displaycard__image{
  height: 220px;
}

i{
  padding-right: 9px;
}
.copyrights{
  font-weight: 300 !important;
  padding-top:15px;
  margin-top:15px;
}
.contact{
  font-weight: 300 !important;
}
.search__icon{
  position: absolute;
  top:8px;
  right:9px;
}